<section>
    <header>
        <h2>Novo cliente</h2>        
    </header>
    <form>
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Informe o nome do cliente">

        <label for="email">E-mail</label>
        <input type="text" name="email">

        <label for="phoneNumber">Telefone</label>
        <input type="text" name="name" placeholder="Informe o telefone do cliente">

        <label for="birthday">Nome</label>
        <input type="text" name="birthday" placeholder="Data de nascimento">
        <div>
            <button >Salvar</button>
            <button>Cancelar</button>
        </div>
    </form>

</section>
